@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>List</h1>
<ul>
    @{
        if (Model.searches == null)
            goto Step;

        foreach (string s in Model.searches)
        {
            <li>@s</li>
        }

    Step:
    }
</ul>
<body>
    <form method="post">
        <input asp-for="Message"/>
        <br />
        <input type="submit" />
    </form>

    <form method="post">
        <input type="submit" id="t" value="CreatePdf" asp-page-handler="CreatePdf" />
    </form>


    @if(Model.downloadready)
    {
        <a href="@Url.Content($"~/documents/{Model.id}.pdf")" target="_blank">
        Download
        </a>
    }



</body>
